{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load orders_extras %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col-md-3">
            {% include "./components/side_nav.html" %}
            <br>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card-box tilebox-1 p-2"><i class="icon-layers float-right"></i>
                        <h6 class="text-uppercase mt-0">Orders</h6>
                        <h2 class="" data-plugin="counterup">{{order_count}}</h2></div>
                </div>
                <!-- end col -->
                <div class="col-sm-4">
                    <div class="card-box tilebox-2 p-2"><i class="icon-paypal float-right"></i>
                        <h6 class="text-uppercase mt-0">Revenue</h6>
                        <h2 class="">$<span data-plugin="counterup">{{latest.sales}}</span></h2></div>
                </div>
                <!-- end col -->
                <div class="col-sm-4">
                    <div class="card-box tilebox-3 p-2"><i class="icon-rocket float-right"></i>
                        <h6 class="text-uppercase mt-0">Products Sold</h6>
                        <h2 class="" data-plugin="counterup">{{latest.products_sold}}</h2></div>
                </div>
                <!-- end col -->
            </div>
            <div class="card-box" style="margin-top:10px">
                <h4 class="header-title mb-3">Recent orders</h4>
                <p><a class="btn btn-secondary" href="{% url 'sell:orders' %}">View all orders</a></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Paid</th>
                                <th>Total($)</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{order.pk}}</td>
                                <td>{{order.profile.firstname}} {{order.profile.lastname}} </td>
                                <td>{{order.created}}</td>
                                <td><span class="label label-info">
                                   {% if order.paid %}
                                   <i class="fas fa-check"></i>
                                   {% else %}
                                   <i class="fas fa-times"></i>
                                   {% endif %}
                                </span></td>
                                <td>{% get_order_sales order request.user.sellerprofile %}</td>
                                <td><a class="btn btn-secondary btn-block" href="{% url 'sell:order_view' order.pk %}">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-box">
                <h4 class="header-title mb-3">Recent products</h4>
                <p> <a class="btn btn-secondary" href="{% url 'sell:products' %}">View all products</a></p>
                <div class="py-3">
                  <a href="{% url 'sell:product_create' %}" class="btn btn-primary" ><i class="fas fa-plus"></i> Add new product</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Stock</th>
                                <th>Price</th>
                                <th>Published</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for product in products %}
                                <td>{{product.pk}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.stock}}</td>
                                <td>{{product.price}}</td>
                                <td><span class="label label-info">
                                    {% if product.published %}
                                    <i class="fas fa-check"></i>
                                    {% else %}
                                    <i class="fas fa-times"></i>
                                    {% endif %}
                                </span></td>
                                <td><a class="btn btn-secondary btn-block" href="{% url 'sell:product_view' product.pk %}">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}