{% extends "./base.html" %} {% load static %} {% load crispy_forms_tags %} {% load widget_tweaks %} {% block title %} {{ title }} {% endblock %} {% block view_name %} Dashboard / Orders {% endblock%} {% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col-md-3">
            {% include "./components/side_nav.html" %}
            <br>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Unshipped orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Shipped orders</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="card-box" style="margin-top:10px">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_name">Name</label>{% render_field form.name class="form-control" placeholder="Name" %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_published">Start date</label>{% render_field form.start_date class="form-control" placeholder="From" %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_available">End date</label>{% render_field form.end_date class="form-control" placeholder="To" %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button class="btn btn-primary form-control" type="submit"><i class="fas fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{order.pk}}</td>
                                    <td>{{order.name}} </td>
                                    <td>{{order.created}}</td>
                                    <td><a href="{% url 'sell:order_view' order.pk %}">View</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card-box" style="margin-top:10px">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_name">Name</label>{% render_field form.name class="form-control" placeholder="Name" %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_published">Start date</label>{% render_field form.start_date class="form-control" placeholder="From" %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_available">End date</label>{% render_field form.end_date class="form-control" placeholder="To" %}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button class="btn btn-primary form-control" type="submit"><i class="fas fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{order.pk}}</td>
                                    <td>{{order.name}} </td>
                                    <td>{{order.created}}</td>
                                    <td><a href="{% url 'sell:order_view' order.pk %}">View</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %} {% block extra_javascript %}
<script>
    $(function() {
        $("#id_start_date").datepicker();
        $("#id_end_date").datepicker();
    });
</script>
{% endblock %}