{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Revenue
{% endblock %}

{% block view_name %}
Revenue
{% endblock %}
{% block content %}
<div class="container">
<div class="row py-2">
 <div class="col-md-3">
        {% include "./components/side_nav.html" %}
 </div>
<div class="col-md-9">
<div class="card-box" style="margin-top:10px">
                <h4 class="header-title mb-3">Monthly sales</h4>
                <div class="table-responsive">
                <div class="chart-container" style="position: relative; height:400px; width:400px">
                    <canvas id="sales-chart" width="400" height="400"></canvas>
                </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Products sold</th>
                                <th>Sales</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in sales %}
                            <tr>
                                <td>{{sale.month}}</td>
                                <td>{{sale.products_sold}}</td>
                                <td>{{sale.sales}}</td>
                                <td>
                                {% if sale.claimed %}
                                {% if sale.paid %}
                                  <span class="badge badge-success"><i class="fas fa-check"></i> Funds received</span>
                                {% else %}
                                  <span class="badge badge-primary">Waiting for payment</span>
                                {% endif %}
                                {% else %}
                                  <span class="badge badge-light">Unclaimed</span>
                                {% endif %}

                                </td>
                                <td><a class="btn btn-secondary btn-block" href="{% url 'sell:revenue_view' sale.pk %}">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="{% static "js/sales.js" %}"></script>
{% endblock %}