<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigations</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'shop:sell_online' %}">Sell online</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'cart:cart_detail' %}">Shopping cart</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'shop:contact' %}">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Terms and conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">1775 Mkoba 6. Gweru, Zimbabwe</li>
                        <li class="phone"><a href="tel://+263773841049">+263 77 384 1049</a></li>
                        <li class="email"><a href="mailto:info@achironetmarketplace.com">info@achironetmarketplace.com</a></li>
                        <li><i class="fas fa-code"></i>Developed by<a href="https://abantusoft.online"><b>Abantusoft<sup>TM</sup></b></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>