{% load static %}
<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 mb-3 mb-md-0 col-md-2 order-1 order-md-2 text-center">
                    <div class="site-logo">
                        <a href="{% url 'shop:product_list' %}" class="js-logo-clone">
                            <img class="img-fluid" src="{% static 'images/logo.png' %}" />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-8 order-2 site-search-icon">
                    <form style="width: 100%;" action="{% url 'shop:search' %}" class="site-block-top-search">
                        <div class="form-row">
                            <div class="col-10 col-md-10">
                                <input id="search_form" type="search" name='q' class="form-control border" placeholder="Search Achironet">
                            </div>
                            <div class="col-2 col-md-2">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="login-urls" class="col-12 col-md-2 order-3 order-md-3 text-right">
                    <div class="site-top-icons">
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'account_logout' %}"><span class="">Logout</span></a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}"><span class="">Login</span></a></li>
                            <li><a href="{% url 'account_signup' %}"><span class="">Register</span></a></li>
                            {% endif %}
                            <li>
                                <a href="{% url 'cart:cart_detail' %}" class="site-cart">
                                    <span class="icon icon-shopping_cart"></span>
                                    <span class="count">
                                        {% with total_items=cart|length %}
                                            {% if cart|length > 0 %}
                                                {{ total_items }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        {% endwith %}
                                        </span>
                                </a>
                            </li>
                            <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <nav class="site-navigation text-right text-md-left" role="navigation">
        <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">
                {% if request.user.is_superuser %}
                <li><a href="{% url 'achironet_admin:dashboard' %}">Administration</a></li>
                {% endif %}
                <li><a href="{% url 'shop:product_list' %}">Shop</a></li>
                 {% if request.user.sellerprofile %}
                <li><a href="{% url 'sell:dashboard' %}">Manage my shop</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                {% if request.user.sellerprofile %}
                <li>
                    <a href="{% url 'users:seller-profile' request.user.sellerprofile.pk %}">
                          My shop profile
                    </a>
                </li>
                {% endif %}
                {% if request.user.profile %}
                <li>
                    <a href="{% url 'users:profile' request.user.profile.pk %}">
                        Profile
                    </a>
                </li>
                {% endif %}
                {% if request.user.agentprofile %}
                <li>
                    <a href="{% url 'agent:profile' request.user.agentprofile.pk %}">
                        Agent Profile
                    </a>
                </li>
                <li>
                    <a href="{% url 'agent:dashboard' %}">
                        Agent Dashboard
                    </a>
                </li>
                {% endif %}
                {% endif %}
                <li><a href="{% url 'shop:sell_online' %}">Sell</a></li>
                <li><a href="{% url 'shop:contact' %}">Get in touch</a></li>
            </ul>
        </div>
    </nav>
</header>