{% extends "shop/base/base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} {{ product.name }} {% endblock %} {% block view_name %} Shop / {{product.name}} {% endblock %} {% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class>
                    <div id="custCarousel" class="carousel slide " data-ride="carousel" align="center">
                        <!-- slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active"> <img src="{{first.file.url}}" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="{{second.file.url}}" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="{{third.file.url}}" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="{{fourth.file.url}}" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="{{fifth.file.url}}" alt="Hills"> </div>
                        </div>
                        <!-- Left right -->
                        <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a>
                        <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a>
                        <!-- Thumbnails -->
                        <ol class="carousel-indicators list-inline">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="{{first.file.url}}" class="img-fluid"> </a>
                            </li>
                            <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="{{second.file.url}}"" class="img-fluid"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="{{third.file.url}}"" class="img-fluid"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="{{fourth.file.url}}"" class="img-fluid"> </a> </li>
                            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="4" data-target="#custCarousel"> <img src="{{fifth.file.url}}"" class="img-fluid"> </a> </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="product-metadata">
                <h2 class="text-black mr-2">{{ product.name }}</h2>
                <hr class="text-muted" /> {% if user_can_review %}
                <p>
                    <a href="{% url 'users:create_or_edit_product_review' product.pk %}">Review</a>
                </p>
                {% endif %}

                <p>{{ product.description|linebreaks }}</p>
                <div>{{product.get_rating_html | safe}}</div>
                <p><strong class="text-primary h4">${{ product.price }}</strong></p>
                <p><a href="{% url 'users:seller-profile' product.seller.pk %}">More from {{product.seller.tradename}}</a></p>
                <p> Category >> <a href="{{product.category.get_absolute_url}}">{{product.category.name}}</a></p>
                <div class="site-info">
                    <hr class="text-muted" />
                    <p>Supported payments:
                        <img class="img-fluid" src="{% static 'images/supported_payments.png' %}">
                    </p>
                </div>
                {% if request.user.is_staff %}
                <p>
                    <button id="btn-moderate{{product.pk}}" onclick="moderateProduct({{product.pk}})" class="btn btn-primary">
                        {% if product.published %}
                            <i class="fas fa-times"></i> Disapprove
                            {% else %}
                            <i class="fas fa-check"></i> Approve
                            {% endif %}
                             </button>
                </p>
                {% endif %}
                <div class="mt-5">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {% csrf_token %} {{ cart_product_form|crispy }}
                        <button type="submit" class="buy-now btn btn-sm btn-primary"><i class="fas fa-plus"></i> Add to cart</button>
                    </form>
                </div>
                <hr class="text-muted" />
                <p> Have one to sell? <a href="{% url 'sell:dashboard' %}">Sell now</a></p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Overview</a></li>
            <li><a data-toggle="tab" href="#menu1">Specification</a></li>
            <li><a data-toggle="tab" href="#menu2">Reviews</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane active py-5">
                <h3>Overview</h3>
                <div>
                    {% if product.overview %} {{product.overview.description | safe }} {% endif %}
                </div>
            </div>
            <div id="menu1" class="tab-pane fade py-5">
                <h3>Specification</h3>
                {% if product.specification %}
                <table class="table">
                    <tbody>
                        {% for attribute in product.specification.attribute_set.all %}
                        <tr>
                            <th>{{attribute.key}}</th>
                            <td>{{attribute.value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div id="menu2" class="tab-pane fade py-5">
                <h3>Reviews</h3>
                <div>
                    {% for review in product.review_set.all %}
                    <div class="review py-3">
                        <p>{{review.your_message}}</p>
                        <div>
                            {{review.get_rating_html | safe }}
                        </div>
                        <p><b>{{review.user_profile.firstname}} {{review.user_profile.lastname}}</b> - {{review.created}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Featured Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    {% for related_product in related_products %}
                    <div class="item">
                        <div class="text-center">
                            <figure class="block-4-image">
                                <img src="{{related_product.images.first.file.url}}" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="{{related_product.get_absolute_url}}">{{related_product.name}}</a></h3>
                                <p class="mb-0">{{related_product.description}}</p>
                                <div class="mb-0 product-rating-wrapper">
                                    {{ related_product.get_rating_html | safe }}
                                </div>
                                <p class="text-primary font-weight-bold">${{related_product.price}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="message-seller-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Moderate product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="product-id">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Add a comment:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {% if not is_mobile %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> {% endif %}
                <button onclick="sendMessage()" type="button" class="btn btn-primary"><i class="fas fa-check"></i>Commit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_javascript %}
<script src="{% static 'js/moderate.js' %}"></script>
<script src="{% static 'js/products.js' %}"></script>
<script>
    if (window.mobileCheck) {
        $("#product-metadata").addClass("text-center")
    }
</script>
{% endblock %}