{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block view_name %}
  Search / {{query_string}}
{% endblock %}

{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row mb-5">
                    {% for product in products %}
                    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                        <div class="block-4 text-center product-item border">
                            <figure class="block-4-image">
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"
                                        alt="Image placeholder" class="img-fluid product-img"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <p class="mb-0">{{ product.get_short_description }}</p>
                                <div class="mb-0 product-rating-wrapper">
                                 {{ product.get_rating_html | safe }}
                                </div>
                                <p style="clear:both" class="text-primary font-weight-bold">${{ product.price }}</p>
                                {% if request.user.is_staff %}
                                <p>
                                  <button id="btn-moderate{{product.pk}}" onclick="moderateProduct({{product.pk}})" class="btn btn-primary">
                                    {% if product.published %}
                                       <i class="fas fa-times"></i> Disapprove
                                    {% else %}
                                       <i class="fas fa-check"></i> Approve
                                    {% endif %}
                                  </button>
                                  </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                              {% if previous %}
                                <li><a id='previous-page' data-query="{{query_string}}" data-page="{{previous}}" href="{% url 'shop:search' %}">&lt;</a></li>
                              {% endif %}
                              {% for page_number in pages %}
                                {% if page_number == current_page %}
                                 <li class="active">
                                 <a class='page-lin-search' data-query="{{query_string}}" data-page="{{page_number}}" href="{% url 'shop:search' %}">{{page_number}}</a></li>
                                {% else %}
                                 <li><a class='page-lin-search' data-query="{{query_string}}"  data-page="{{page_number}}" href="{% url 'shop:search' %}">{{page_number}}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if next %}
                                <li><a id='next-page' data-query="{{query_string}}" data-page="{{next}}" href="{% url 'shop:search' %}">&gt;</a></li>
                              {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Related categories</h3>
                    <ul class="list-unstyled mb-0">
                        {% for c in categories %}
                        <li {% if category.slug == c.slug %} class="mb-1" {% endif %}>
                            <a href="{{ c.get_absolute_url }}" class="d-flex">{{ c.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="message-seller-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="hidden" class="form-control" id="product-id">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button onclick="sendMessage()" type="button" class="btn btn-primary"><i class="far fa-paper-plane"></i> Send message</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="{% static "js/moderate.js" %}"></script>
<script src="{% static "js/products.js" %}"></script>
{% endblock %}