{% extends "sell/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %} {{ title }}
{% endblock %}
{% block content %}
<div class="container py-5">
            <h3 class="py-3">Create new product</h3>
            {% if form.non_field_errors %}
            <ul class="list-group">
                {% for err in form.non_field_errors %}
                <li class="list-group-item list-group-item-danger">{{ err }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_name">Product name*</label>
                        {% render_field form.name class="form-control" placeholder="Product name" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_category">Select category*</label>
                        {% render_field form.category class="form-control" placeholder="Select category" %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_description">Description*</label>
                    {% render_field form.description class="form-control" placeholder="Describe your product in not less than 50 characters, not more than 500 characters." %}
                </div>
                <div class="form-group">
                    <label for="id_search_keywords">Add search keywords so that your product can be found when people search for something.
                     Separate the keywords using a comma.</label>
                    {% render_field form.search_keywords class="form-control" placeholder="bread, sneaker, jacket, headphones etc." %}
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                   <label for="id_price">Price*</label>
                   <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    </div>
                    {% render_field form.price class="form-control" placeholder="0.00" %}
                    </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_stock">In stock*</label>
                        {% render_field form.stock class="form-control" placeholder="How many?" %}
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                   <p><b>Note:</b> After adding your own price, the system will add a markup of 30% to the initial price.</p>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Next <i class="fas fa-forward"></i> upload images  </button>
            </form>
</div>
{% endblock %}