<div id="mobile-cropper">
    <div class="cropper-image-container">
        <img src="" id="on-mobile-image" style="max-width:100%;">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default mobile-js-zoom-in">
                <i class="fas fa-search-plus"></i>
              </button>
            <button type="button" class="btn btn-default mobile-js-zoom-out">
                <i class="fas fa-search-minus"></i>
            </button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary js-mobile-crop-and-upload">
            <i class="fas fa-check"></i>
            Crop and upload
        </button>
        </div>
    </div>
</div>