<nav class="navbar bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'achironet_admin:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'achironet_admin:orders' %}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'achironet_admin:sellers' %}">Sellers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'achironet_admin:customers' %}">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'achironet_admin:email_newsletters' %}">Email newsletters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'achironet_admin:request_testmonials' %}">Request testimonials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'achironet_admin:seller_testmonials' %}">Seller testimonials</a>
        </li>
    </ul>
</nav>