{% extends "./base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} {{ title }} {% endblock %} {% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col-xs-12 col-sm-12">

            <!-- User profile -->
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="profile__avatar img-fluid">
                        <figure class="block-4-image">
                            <img class="img-fluid product-img" src="{{seller.brand_logo.file.url}}" alt="...">
                        </figure>
                    </div>
                    <div class="profile__header">
                        <h4>{{seller.tradename}}&nbsp; &nbsp;
                            <small>Seller</small> &nbsp; &nbsp;
                            <small>
                {% if can_edit %}
                <a href="{% url 'users:edit-seller-profile' request.user.sellerprofile.pk %}" class="card-link">
                 Edit profile
                </a>
                {% endif %}
            </small>
                        </h4>
                        <p class="text-muted">
                            {{seller.about}}
                        </p>
                        {% if seller.website %}
                        <p>
                            <a href="{{seller.website}}">Visit website</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- User info -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Seller info</h4>
                </div>
                <div class="panel-body">
                   <div class="table-responsive">
                    <table class="table profile__table">
                        <tbody>
                            <tr>
                                <th><strong>Location</strong></th>
                                <td>{{seller.country}} >> {{seller.state}} >> {{seller.city}} >> {{seller.address}}</td>
                            </tr>
                            <tr>
                                <th><strong>Owner</strong></th>
                                <td>{{seller.firstname}} {{seller.lastname}} </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title py-3">Products</h4>
        </div>
        <div class="panel-body">
            <div class="row mb-5">
                {% for product in products %}
                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center product-item border">
                        <figure class="block-4-image">
                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="Image placeholder" class="img-fluid product-img"></a>
                        </figure>
                        <div class="block-4-text p-4">
                            <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                            <p class="mb-0">{{ product.get_short_description }}</p>
                            <div class="mb-0 product-rating-wrapper">
                                {{ product.get_rating_html | safe }}
                            </div>
                            <p class="text-primary font-weight-bold">${{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
  <script src="{% static 'js/products.js' %}"></script>
{% endblock %}