{% extends "shop/base/base.html" %}
{% block title %}
Order # {{order.id}}
{% endblock %}
{% block view_name %}
   {{ request.user.profile.firstname }} / View order / #{{order.id}}
{% endblock %}
{% block content %}
<div class="container  mt-5 mb-5">
  <div class="card" style="width: 100%;">
  <div class="card-body">
    <h3 class="card-title">Order #{{order.id}}</h3>
   <h6 class="card-subtitle mb-2 text-muted">
                {% if order.paid %}
                <i class="fas fa-check"></i> {% else %}
                <i class="fas fa-times"></i> {% endif %} &nbsp; Paid
                &nbsp;
                {% if order.shipped %}
                <i class="fas fa-check"></i> {% else %}
                <i class="fas fa-times"></i> {% endif %} &nbsp; Shipped
                &nbsp;
                {% if order.recieved %}
                <i class="fas fa-check"></i> {% else %}
                <i class="fas fa-times"></i> {% endif %} &nbsp; Delivered
    </h6>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Product</th>
            <th scope="col">Price (USD)</th>
            <th scope="col">Quantity</th>
            <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order_items %}
            <tr>
            <th>{{item.product.name}}</th>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>
             <a class="btn btn-secondary" href="{% url 'shop:product_detail' item.product.pk item.product.slug %}">View</a>
             &nbsp;
              <a class="btn btn-secondary" href="{% url 'users:create_or_edit_product_review' item.product.pk %}"><i class="fas fa-star"></i> Write review</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
     </table>
     </div>
  <h5 class="card-title">Shipping address</h5>
 <div class="table-responsive">
  <table class="table">
  <thead>
  </thead>
  <tbody>
    {% if order.shipping_address %}
    <tr>
      <th>Name</th>
      <td>{{order.shipping_address.fullname}}</td>
    </tr>
    <tr>
      <th>Phone number</th>
      <td>{{order.shipping_address.phone_number}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{order.shipping_address.email}}</td>
    </tr>
    <tr>
      <th>Street address</th>
      <td>{{order.shipping_address.street_address}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{order.shipping_address.fullname}}</td>
    </tr>
    <tr>
      <th>Apartment No</th>
      <td>
       {% if order.shipping_address.apartment %}
         {{order.shipping_address.apartment}}
       {% else %}
         N/A
       {% endif %}
      </td>
    </tr>
    <tr>
      <th>State</th>
      <td>{{order.shipping_address.state}}</td>
    </tr>
    <tr>
      <th>City</th>
      <td>{{order.shipping_address.city}}</td>
    </tr>
    {% else %}

    {% endif %}
  </tbody>
</table>
</div>
  </div>
</div>
</div>
{% endblock %}