{% extends "shop/base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Payment
{% endblock %}
{% block view_name %}
   Order/ {{order.id}} / Payment
{% endblock %}
{% block content %}
<div class="container">
 <h3 class="my-2">Payment</h3>
 <!--Grid row-->
 <div class="row">
   <!--Grid column-->
   <div class="col-md-8 mb-4">
   <h4 class="py-2">Enter your card details</h4>
   <div class="card">
   <div class="card-body payment-ui">
    <form method="POST" id="payment-form">
       {% csrf_token %}
        <div style="padding: 10px 0" class="form-group">
           <label for="card-element" id="stripeBtnLabel">
             Credit or debit card
           </label>
          <div id="card-element">
             <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
        <div class="form-group">
        <button class="btn btn-primary"><i class="fas fa-check"></i> Submit Payment</button>
        </div>
     </form>
     </div>
   </div>
   </div>
   <div class="col-md-4 mb-4">
   <!--List the orders that need to be paid for here-->
        <h4 class="py-2">Your cart</h4>
            <ul class="list-group">
                {% for item in order.items.all %}
                <li class="list-group-item">
                    <span class="badge badge-primary badge-pill">{{ item.quantity }}x</span> {{ item.product.name }}
                    <span>${{ item.get_cost }}</span>
                </li>
                {% endfor %}
                <li class="list-group-item">
                    <h4 class="text-right">Total: ${{ order.get_total_cost }}</h4>
                </li>
            </ul>
   </div>
 </div>
 </div>
{% endblock %}
{% block extra_javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static "js/stripe.js" %}"></script>
{% endblock %}