{% extends "shop/base/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class='text-center'>Sell online today on Achironet Market Place</h1>
    <p class='text-center'>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
    <p class='text-center'>
        {% if request.user.is_anonymous %}
        <a href="{% url 'account_signup' %}">Create an account</a> or <a href="{% url 'account_login' %}">Login</a>
        {% else %}
        {% if request.user.sellerprofile %}
          <a href="{% url 'sell:dashboard' %}">Go to dashboard</a>
        {% else %}
          <a href="{% url 'users:create-seller-profile' %}">Register as a seller</a>
         {% endif %}
       {% endif %}
    </p>
    <div class='sell-online-hero'>
        <img src="https://example.com/asls" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h6 class="text-center">Lorem ipsum</h6>
                <p class="text-center">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
            <div class="col-sm">
                <h6 class="text-center">Lorem ipsum</h6>
                <p class="text-center">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
            <div class="col-sm">
                <h6 class="text-center">Lorem ipsum</h6>
                <p class="text-center">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <h3 class='text-center'>Testmonials</h3>
        <div class="container mt-5">
            <div class="d-flex justify-content-center py-3">
                <div class="mr-2">
                    <div class="card">
                        <div class="px-2 py-2"> <span class="maintxt">"Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore magna aliqua."</span>
                            <div class="d-flex pt-3">
                                <div><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
                                <div class="ml-2"> <span class="name">Dan Spratling</span>
                                    <p class="para">Company name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="px-2 py-2"> <span class="maintxt">"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span>
                            <div class="d-flex pt-3">
                                <div><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
                                <div class="ml-2"> <span class="name">Dan Spratling</span>
                                    <p class="para">Company name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-2">
                    <div class="card">
                        <div class="px-2 py-2"> <span class="maintxt">"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span>
                            <div class="d-flex pt-3">
                                <div><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
                                <div class="ml-2"> <span class="name">Dan Spratling</span>
                                    <p class="para">Company name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="px-2 py-2"> <span class="maintxt">"Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore magna aliqua."</span>
                            <div class="d-flex pt-3">
                                <div><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
                                <div class="ml-2"> <span class="name">Dan Spratling</span>
                                    <p class="para">Company name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}