{% extends "shop/base/base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} {{ title }} {% endblock %} {% block content %}
<div class="container">
    <h1 class='text-center'>Sell online today on Achironet Market Place</h1>
    <p class='text-center'>Take your business online today and reach out to the online community.</p>
    <p class='text-center'>
        {% if request.user.is_anonymous %}
        <a href="{% url 'account_signup' %}">Create an account</a> or <a href="{% url 'account_login' %}">Login</a> {% else %} {% if request.user.sellerprofile %}
        <a href="{% url 'sell:dashboard' %}">Go to dashboard</a> {% else %}
        <a href="{% url 'users:create-seller-profile' %}">Register as a seller</a> {% endif %} {% endif %}
    </p>
    <div class='sell-online-hero'>
        <img src="https://example.com/asls" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h6 class="text-center">Lorem ipsum</h6>
                <p class="text-center">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
            <div class="col-sm">
                <h6 class="text-center">Lorem ipsum</h6>
                <p class="text-center">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
            <div class="col-sm">
                <h6 class="text-center">Lorem ipsum</h6>
                <p class="text-center">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
        </div>
    </div>
    <div class='site-section'>
       <div class='row'>
         {%for testmonial in testmonials %}
            <div class='col-sm-4'>
               <h4 class='text-center'>{{testmonial.fullname}}</h4>
               <div class="mb-0 product-rating-wrapper">
                  {{ testmonial.get_rating_html | safe }}
               </div>
               <p class='text-center mb-0'>{{testmonial.your_say}}</p>
            </div>
         {% endfor %}
       </div>
    </div>
</div>
{% endblock %}