{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{ title }}
{% endblock %}
{% block view_name %}
Administration / Customers
{% endblock %}
{% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col-md-3">
            {% include "./components/side_nav.html" %}
            <br>
        </div>
        <div class="col-md-9">
            <div class="card-box">
                <h4 class="header-title mb-3">Customers</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for customer in customers %}
                                <td>{{customer.firstname}}</td>
                                <td>{{customer.lastname}}</td>
                                <td>{{customer.user.email}}</td>
                                <td><a href="{% url 'users:profile' customer.pk %}">View profile</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}