{% extends "achironet_admin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{object.month}} claim from {{object.seller.firstname}}
{% endblock %}
{% block view_name %}
  Administration / Seller claims / {{object.month}} claim from {{object.seller.firstname}}
{% endblock %}
{% block content %}
    <div class="container py-5">
        <h3 class="card-title">{{object.month}} claim from {{object.seller.firstname}} </h3>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Month</th> <td>{{object.month}}</td> </tr>
               <tr><th>Sales</th> <td>{{object.sales}}</td></tr>
               <tr><th>Products sold</th> <td>{{object.products_sold}}</td></tr>
               <tr><th>Paid</th>
                <td>
                  {% if object.paid %}
                    <span class="badge badge-success"><i class="fas fa-check"></i> Yes</span>
                  {% else %}
                   <span class="badge badge-light">Not yet</span>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form | crispy }}
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>Save</button>
        </form>
    </div>
{% endblock %}