{% extends "sell/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div class="container py-5">
    <div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">Edit message and send</h5>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form | crispy }}
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    </div>
    </div>
{% endblock %}