{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col">
            {% include "./components/side_nav.html" %}
            <br>
        </div>
        <div class="col-9">
            <div class="card-box">
                <h4 class="header-title mb-3">Email newsletters</h4>
                <p class='py-3'>
                  <a class = 'btn btn-primary' href = "{% url 'achironet_admin:create_newsletter' %}">Compose</a>
                </p>
                <div class="table-responsive">
                    <table class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Date sent</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for newsletter in newsletters %}
                            <tr id='row{{newsletter.pk}}'>
                                <td>{{newsletter.subject}}</td>
                                <td>{{newsletter.updated}}</td>
                                <td>
                                <button onclick='deleteNewsletter(this)' class="btn btn-primary" data-newsletter='{{newsletter.pk}}'>
                                 Delete
                                </button>
                                <a href="{% url 'achironet_admin:edit_newsletter' newsletter.pk %}" class="btn btn-primary">
                                 Edit
                                </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script src="{% static "js/newsletters.js" %}"></script>
{% endblock %}
