{% extends "shop/base/base.html" %}
{% block title %}
Order # {{order.id}}
{% endblock %}
{% block view_name %}
Administration / Orders / {{order.name}}
{% endblock %}
{% load static %}
{% block content %}
<div class="container  mt-5 mb-5">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <button id="ship-order-btn" onclick="shipOrder({{order.pk}})" class="btn btn-lg btn-light float-right">
            {% if order.shipped %}
            Undo ship
            {% else %}
            Ship order
            {% endif %}
            </button>
            <h3 class="card-title">Order #{{order.id}} to {{order.name}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">
                {% if order.paid %}
                <i id="paid-status" class="fas fa-check"></i> {% else %}
                <i id="paid-status" class="fas fa-times"></i> {% endif %} &nbsp; Paid
                &nbsp;
                {% if order.shipped %}
                <i id="shipped-status" class="fas fa-check"></i>
                {% else %}
                <i id="shipped-status" class="fas fa-times"></i>
                {% endif %} &nbsp; Shipped
                &nbsp;
                {% if order.delivered %}
                <i id="delivered-status" class="fas fa-check"></i> {% else %}
                <i id="delivered-status" class="fas fa-times"></i> {% endif %} &nbsp; Delivered
            </h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Status</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_items %}
                        <tr>
                            <th>{{item.product.name}}</th>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>
                                <div class="form-check pt-2 text-center">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    data-item="{{item.pk}}"
                                    onchange="changeStatus(this)"
                                    value="0"
                                    {% if item.received %}
                                      checked
                                    {% endif %}
                                    id="checkbox-for-item-{{item.pk}}">
                                    <label class="form-check-label" for="defaultCheck1">
                                    Received
                                </label>
                                </div>
                            </td>
                            <td><a class="btn btn-light btn-block" href="{% url 'shop:product_detail' item.product.pk  item.product.slug  %}">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5 class="card-title">Shipping address</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        {% if order.shipping_address %}
                        <tr>
                            <th>Name</th>
                            <td>{{order.shipping_address.fullname}}</td>
                        </tr>
                        <tr>
                            <th>Phone number</th>
                            <td>{{order.shipping_address.phone_number}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{order.shipping_address.email}}</td>
                        </tr>
                        <tr>
                            <th>Street address</th>
                            <td>{{order.shipping_address.street_address}}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{order.shipping_address.fullname}}</td>
                        </tr>
                        <tr>
                            <th>Apartment No</th>
                            <td>{{order.shipping_address.apartment}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{order.shipping_address.country}}</td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>{{order.shipping_address.state}}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{order.shipping_address.city}}</td>
                        </tr>
            </div>
            {% else %} {% endif %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
   <script src="{% static 'js/orders.js' %}"></script>
{% endblock %}