{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Seller testmonials
{% endblock %}
{% block view_name %}
Administration / Seller testimonials
{% endblock %}
{% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col-md-3">
            {% include "./components/side_nav.html" %}
            <br>
        </div>
        <div class="col-md-9">
            <div class="card-box">
                <h4 class="header-title mb-3">Seller testimonials</h4>
                <p><b>Note:</b> If you don't see any it's because no new testmonials have been made or that all
                testmonials made have been approved.</p>
                <div class="table-responsive">
                    <table class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Testimonial</th>
                                <th>Created</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for testmonial in testmonials %}
                            <tr id='row{{testmonial.pk}}'>
                                <td>{{testmonial.fullname}}</td>
                                <td>{{testmonial.your_say}}</td>
                                <td>{{testmonial.created}}</td>
                                <td>
                                <button onclick='deleteTestmonial(this)' class="btn btn-light btn-block" data-testmonial='{{testmonial.pk}}'>
                                <i class="far fa-trash-alt"></i> Delete
                                </button>
                                <button onclick='approveTestmonial(this)' class="btn btn-light btn-block" data-testmonial='{{testmonial.pk}}'>
                                <i class="fas fa-check"></i> Approve
                                </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script src="{% static "js/testmonials.js" %}"></script>
{% endblock %}